<div class="ls-modal" id="addPlan">
  <div class="ls-modal-box">
    <div class="ls-modal-header">
      <button data-dismiss="modal">&times;</button>
      <h4 class="ls-modal-title"><%= t('.title') %></h4>
    </div>
    <%= render 'form' %>
  </div>
</div>
    
